workflows2025/10/BGobk0MpcxHb6viw.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T03:59:57.359Z",
  "id": "BGobk0MpcxHb6viw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Job leads",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -1184
      ],
      "id": "3568f1a2-d7ff-4ae8-9e17-df1d58a74765",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/WWQPrUmpEBDGqVPS.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -480,
        -1184
      ],
      "id": "7442f761-5441-4d4e-8d79-1460faaa3d70",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "QVkvZHTQZ2fjd9Ar",
          "mode": "list",
          "cachedResultName": "job leads",
          "cachedResultUrl": "/projects/KEEmha20l10BbmVz/datatables/QVkvZHTQZ2fjd9Ar"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $('RSS Read').item.json.link }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('RSS Read').item.json.title }}",
            "pubDate": "={{ $('RSS Read').item.json.pubDate }}",
            "link": "={{ $('RSS Read').item.json.link }}",
            "Job_Description": "={{ $('Code in JavaScript').item.json.job_description }}",
            "Company_Name": "={{ $('Code in JavaScript').item.json.company_name }}",
            "Benefits": "={{ $('Code in JavaScript').item.json.benefits }}",
            "Cover_Letter": "={{ $json.cover_letter }}",
            "Rating": "={{ $('Code in JavaScript1').item.json.score }}",
            "Reason": "={{ $('Code in JavaScript1').item.json['Reason for score'] }}",
            "Requirements": "={{ $('Code in JavaScript').item.json.Requirements }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company_Name",
              "displayName": "Company_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job_Description",
              "displayName": "Job_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Benefits",
              "displayName": "Benefits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cover_Letter",
              "displayName": "Cover_Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2368,
        -1184
      ],
      "id": "6cb6c334-c318-4fae-949c-e0825ba530bf",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "url": "={{ $('RSS Read').item.json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -1248
      ],
      "id": "d8855652-be5f-483c-92cc-317a684f9bf2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Here's the job list site : {{ $json.data }}"
            },
            {
              "content": "Please output the data in JSON format, using the following structure:\n{\n  \"company_name\": \"\",\n  \"location\": \"\",\n  \"job_description\": \"\", // please make this 300 characters or less focusing on only on the necessary information\n  \"Requirements\": \"\" //must be stated in job isting output should be concise only keeping the necessary information\n  \"benefits\": \"\" //please separate by comma\n}",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "You're an inteligent bot capabe of pulling out data from a job listing site."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        640,
        -1248
      ],
      "id": "837c2317-89e5-4591-939f-d9318e47e851",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "j9ukXKMLOqkyzVyn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: JSON.parse($json[\"content\"][\"parts\"][0][\"text\"])\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -1248
      ],
      "id": "9bcf41c4-dc22-421e-b098-f0776fd8a9de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the job listing details:\n{{ $json.company_name }}\n{{ $json.location }}\n{{ $json.job_description }}\n{{ $json.benefits }}\n{{ $json.Requirements }}\nhere is the full job descripton:\n\nHere is the canditate skill set:\nARTHUR NGENDANANIMANA\nErie PA 814-218-8547 | aliarthur35@gmail.com | aliarthur.com | LinkedIn\n---\n### **EDUCATION**\n**Gannon University**\nBachelor of Science, Computer Science\nGPA: 3.7/4.0\n**Esslingen University of Applied Sciences**\nStudy Abroad Program: February 2024–August 2024\n---\n### **WORK EXPERIENCE**\n**McNair Scholars Program**\n*Research Intern*\n(May 2025–June 2025)\n* Developed a full-stack, AI-powered tutoring assistant using Next.js, Supabase for the database, and Vapi for conversational AI.\n* The platform allowed professors to upload structured lesson plans, enabling the AI to deliver tailored instruction and provide instant answers to student questions.\n* Conducted research on memory enhancement strategies, including the Memory Palace technique, which enabled multiple participants to easily recite over 100 digits of Pi and demonstrated a clear path to enhanced academic retention.\n*Web Developer Intern*\n(January 2024–June 2025)\n* Designed and developed a full-featured web application using Next.js, TailwindCSS, GSAP, and Three.js, transforming static resources into an interactive platform.\n* Led UI/UX design decisions by collaborating with program leadership to translate program needs into functional, visually engaging interface components.\n* Prototyped responsive UI components using HTML/CSS, and JS, accelerating design iterations and enabling real-time feedback from program leadership.\n**Student Support Services**\n*Web Developer/Tutor*\n(January 2022–January 2023)\n* Mentored over 25 undergraduate students in core programming concepts (Java, HTML, CSS, Linux, Python) and introduced professional practices like Object-Oriented Design and clean code, which led to decreases in debugging time.\n* Led the redesign of the program's website, starting with initial designs in Figma and implementing them using HTML/CSS/JS to significantly improve navigation and student access to resources.\n---\n### **PERSONAL PROJECTS**\n**WiseShare - Fractional Property Investment Platform**\n* Engineered a RESTful API with C#/.NET to power a fractional real estate investment platform, enabling users to buy, sell, and manage shares of properties, making real estate investing accessible to new investors.\n* Integrated key backend systems for financial and user security, including a Stripe API for payment processing and a custom JWT Bearer Token authentication system with a SQLite database.\n* Validated system performance with k6 load testing, confirming the API could handle over 5,000 requests per minute to support concurrent user activity.\n**Flappy Bird AI - Neural Network Game Bot**\n* Developed an autonomous AI agent in Python using Pygame and the NEAT library, successfully training a neural network via genetic algorithms to master gameplay in under 5 generations.\n* Created a visual interface to demonstrate the AI's learning progression, allowing for real-time analysis of its internal reasoning and decision-making.\n---\n### **SKILLS**\n* **Languages:** Java, C#, Python, HTML/CSS, JS\n* **Frameworks & Libraries:** Next.js, React, .Net, TailwindCSS, Pygame, Three.js, GSAP\n* **Tools & Platforms:** Git, GitHub, VS Code, Vercel, Clerk, Vapi, Stripe API, Jira\n* **Spoken Languages:** Rundi (Fluent), German (A1)"
            },
            {
              "content": "Please return Json data structured the following way be strict but fair and professional:\n{\n\"score\": \"\",\n\"Reason for score\":\"\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "You're an intelligent bot rating how closely a job listing is to a candidates skill set, on a score of 5. Give the following points:\na) 3 points for skills matching, 1 point for mostly matching.\nb) 1 point for it being the right experience level\nc) 1 point for it being in Erie Pa or with 30 miles \nd) 1 point if past job experience matches the job \ne) 1 point if the skills on the resume align with the job. \nf) 3 points if I meet the job qualifications posted based on my resume"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        -1248
      ],
      "id": "92bb5d6f-3c27-4561-a2d8-b9d9afc64a57",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "j9ukXKMLOqkyzVyn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot perfect at Creating cover letters for a job. Please take the candidates resume and create a customized cover letter to the job",
              "role": "model"
            },
            {
              "content": "=Here is the job list details:\nHere is the job listing details:\nTitle: {{ $('RSS Read').item.json.title }}\nCompany: {{ $('Code in JavaScript').item.json.company_name }}\nLocation: {{ $('Code in JavaScript').item.json.location }}\nDescription: {{ $('Code in JavaScript').item.json.job_description }}\nBenifits: {{ $('Code in JavaScript').item.json.benefits }}\nJob Requirements: {{ $('Code in JavaScript').item.json.Requirements }}\n\n\nHere is the canditate skill set:\nARTHUR NGENDANANIMANA\nErie PA 814-218-8547 | aliarthur35@gmail.com | aliarthur.com | LinkedIn\n---\n### **EDUCATION**\n**Gannon University**\nBachelor of Science, Computer Science\nGPA: 3.7/4.0\n**Esslingen University of Applied Sciences**\nStudy Abroad Program: February 2024–August 2024\n---\n### **WORK EXPERIENCE**\n**McNair Scholars Program**\n*Research Intern*\n(May 2025–June 2025)\n* Developed a full-stack, AI-powered tutoring assistant using Next.js, Supabase for the database, and Vapi for conversational AI.\n* The platform allowed professors to upload structured lesson plans, enabling the AI to deliver tailored instruction and provide instant answers to student questions.\n* Conducted research on memory enhancement strategies, including the Memory Palace technique, which enabled multiple participants to easily recite over 100 digits of Pi and demonstrated a clear path to enhanced academic retention.\n*Web Developer Intern*\n(January 2024–June 2025)\n* Designed and developed a full-featured web application using Next.js, TailwindCSS, GSAP, and Three.js, transforming static resources into an interactive platform.\n* Led UI/UX design decisions by collaborating with program leadership to translate program needs into functional, visually engaging interface components.\n* Prototyped responsive UI components using HTML/CSS, and JS, accelerating design iterations and enabling real-time feedback from program leadership.\n**Student Support Services**\n*Web Developer/Tutor*\n(January 2022–January 2023)\n* Mentored over 25 undergraduate students in core programming concepts (Java, HTML, CSS, Linux, Python) and introduced professional practices like Object-Oriented Design and clean code, which led to decreases in debugging time.\n* Led the redesign of the program's website, starting with initial designs in Figma and implementing them using HTML/CSS/JS to significantly improve navigation and student access to resources.\n---\n### **PERSONAL PROJECTS**\n**WiseShare - Fractional Property Investment Platform**\n* Engineered a RESTful API with C#/.NET to power a fractional real estate investment platform, enabling users to buy, sell, and manage shares of properties, making real estate investing accessible to new investors.\n* Integrated key backend systems for financial and user security, including a Stripe API for payment processing and a custom JWT Bearer Token authentication system with a SQLite database.\n* Validated system performance with k6 load testing, confirming the API could handle over 5,000 requests per minute to support concurrent user activity.\n**Flappy Bird AI - Neural Network Game Bot**\n* Developed an autonomous AI agent in Python using Pygame and the NEAT library, successfully training a neural network via genetic algorithms to master gameplay in under 5 generations.\n* Created a visual interface to demonstrate the AI's learning progression, allowing for real-time analysis of its internal reasoning and decision-making.\n---\n### **SKILLS**\n* **Languages:** Java, C#, Python, HTML/CSS, JS\n* **Frameworks & Libraries:** Next.js, React, .Net, TailwindCSS, Pygame, Three.js, GSAP\n* **Tools & Platforms:** Git, GitHub, VS Code, Vercel, Clerk, Vapi, Stripe API, Jira\n* **Spoken Languages:** Rundi (Fluent), German (A1)"
            }
          ]
        },
        "options": {
          "systemMessage": "You are an intelligent AI that writes professional, customized cover letters based on a candidate's resume and a job listing. Your goal is to generate letters that sound **enthusiastic, professional, and genuinely human**.\n\n**DO NOT** use generic, robotic, or overly flowery language. Adopt a **confident yet humble** tone, focusing on **active voice** and **direct alignment** between the candidate's experience and the job requirements. Structure the letter with a compelling introduction, a body highlighting 2-3 key, relevant achievements, and a strong, professional closing.\n\nAlways respond with **pure JSON only**, no markdown, no code blocks, and no explanations. \nThe JSON must be in this exact format:\n{\n  \"cover_letter\": \"\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1792,
        -1184
      ],
      "id": "3f25002c-adff-4dc0-a5a7-0ab9ad11d264",
      "name": "Message a model2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "j9ukXKMLOqkyzVyn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: JSON.parse($json[\"content\"][\"parts\"][0][\"text\"])\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -1248
      ],
      "id": "2640b1c6-8ec9-47a8-88c9-d0d8e0d0391f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "let text = $json[\"content\"][\"parts\"][0][\"text\"];\n\n// Strip markdown fences if present\ntext = text.replace(/```json\\s*/gi, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  return [{ json: JSON.parse(text) }];\n} catch (e) {\n  return [{ json: { error: \"Invalid JSON returned\", raw_output: text } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -1184
      ],
      "id": "0f6c0571-7f6c-4e19-9487-604b9e791d8b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        -1184
      ],
      "id": "2b56f0c2-12a8-4035-a44a-f547e7d920d1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "QVkvZHTQZ2fjd9Ar",
          "mode": "list",
          "cachedResultName": "job leads",
          "cachedResultUrl": "/projects/KEEmha20l10BbmVz/datatables/QVkvZHTQZ2fjd9Ar"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -256,
        -1184
      ],
      "id": "d6d7adda-cb82-4577-84ed-0e1619388957",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        -1248
      ],
      "id": "478d3206-e0c5-402c-83e1-835fad6cba1e",
      "name": "Wait",
      "webhookId": "faaee90e-b423-4e74-b626-b8b2a1ae5441"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -832
      ],
      "id": "66a4a594-ee22-40a0-b8fb-2d38551a2e93",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "QVkvZHTQZ2fjd9Ar",
          "mode": "list",
          "cachedResultName": "job leads",
          "cachedResultUrl": "/projects/KEEmha20l10BbmVz/datatables/QVkvZHTQZ2fjd9Ar"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -528,
        -832
      ],
      "id": "580ff23a-fe40-41ec-8036-5cfee3c8e7a3",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1R1Rswgj4U5d5FZsdal1ZWQd28v9SG0LLBQJacTSBepU",
          "mode": "list",
          "cachedResultName": "job leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1Rswgj4U5d5FZsdal1ZWQd28v9SG0LLBQJacTSBepU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1Rswgj4U5d5FZsdal1ZWQd28v9SG0LLBQJacTSBepU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Company_name": "={{ $json.Company_Name }}",
            "Beniifits ": "={{ $json.Benefits }}",
            "Pub_date": "={{ $json.pubDate }}",
            "Reqirements": "={{ $json.Requirements }}",
            "Job_Description": "={{ $json.Job_Description }}",
            "Link": "={{ $json.link }}",
            "Applied": "={{ $json.Applied }}",
            "Reason": "={{ $json.Reason }}",
            "Rating ": "{{ $json.Rating }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company_name",
              "displayName": "Company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pub_date",
              "displayName": "Pub_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job_Description",
              "displayName": "Job_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reqirements",
              "displayName": "Reqirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Beniifits ",
              "displayName": "Beniifits ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating ",
              "displayName": "Rating ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        -832
      ],
      "id": "ade89298-5214-4941-a2cb-c6ad7f3fbc6d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uTnCK0NFSFPJkFP7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "savant35",
  "repo_path": "backups/",
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-10-08T03:59:57.361Z",
      "updatedAt": "2025-10-08T03:59:57.361Z",
      "role": "workflow:owner",
      "workflowId": "BGobk0MpcxHb6viw",
      "projectId": "KEEmha20l10BbmVz"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-10-08T22:52:48.000Z",
  "versionId": "6a211c7a-5e2c-42a5-bfb2-745d798028de"
}