workflows2025/10/FMdWGW9Epei0StSy.json
{
  "active": true,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T20:42:50.093Z",
  "id": "FMdWGW9Epei0StSy",
  "isArchived": false,
  "meta": null,
  "name": "n8n Backup Subflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        48,
        544
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "1539435a-79bd-4910-b9c5-db226f8e5cd9",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1936,
        352
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "11dcb384-d187-4089-b4fb-8f23e2e4fddd",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        224
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "3172ed10-1c94-4f07-949f-d8e3adfec3f1",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        656,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "421e64a6-959b-4f82-bf4a-af2781abeac5",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        656,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "14a9ad31-494b-459d-9dc2-125f53df1a3f",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "d4403329-cbd8-4068-9e67-a2bd2e100a06",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1248,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8063b189-9532-4b72-964f-d82e2a32ba16",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1472,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "66288b09-4817-4a82-9a95-3ddd69859db8",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1472,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1025e74c-949d-4f26-8ac6-cefad65c038b",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1472,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Savant35",
          "mode": "list",
          "cachedResultName": "Savant35",
          "cachedResultUrl": "https://github.com/Savant35"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/Savant35/n8n-workflows"
        },
        "filePath": "=workflows{{ $json.subPath }}{{$('When Executed by Another Workflow').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('When Executed by Another Workflow').first().json.name}} ({{$json.github_status}})"
      },
      "id": "20b1df6a-de5e-42d3-9231-d82414bf060d",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1696,
        704
      ],
      "typeVersion": 1,
      "webhookId": "78b4b900-845a-4e4c-bff5-b70eb70e7ac9",
      "credentials": {
        "githubApi": {
          "id": "rkEe6jnQiTUtmG3P",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Savant35",
          "mode": "list",
          "cachedResultName": "Savant35",
          "cachedResultUrl": "https://github.com/Savant35"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/Savant35/n8n-workflows"
        },
        "filePath": "=workflows{{ $json.subPath }}{{$('When Executed by Another Workflow').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('When Executed by Another Workflow').first().json.name}} ({{$json.github_status}})"
      },
      "id": "4c22f8dc-c7ed-495a-b964-630ff0e110f7",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1696,
        512
      ],
      "typeVersion": 1,
      "webhookId": "c9ad740b-ff25-478e-9fe2-ed4c44ce22d9",
      "credentials": {
        "githubApi": {
          "id": "rkEe6jnQiTUtmG3P",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[0] }}/{{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0b6c4c3b-85cf-4743-ad61-563e202b0569",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        512
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "=savant35",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "=n8n-workflows",
          "mode": ""
        },
        "filePath": "=workflows{{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[0] }}/{{ $('When Executed by Another Workflow').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "52d3ec30-9797-4dd3-82df-53c48a5f0f57",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        448,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "caab24fa-f19d-4907-baea-5b8925d47f36",
      "credentials": {
        "githubApi": {
          "id": "rkEe6jnQiTUtmG3P",
          "name": "GitHub account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=savant35"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=n8n-workflows"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=backups/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c2b92dd2-d885-4972-979e-79039f2b6144",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        528
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "savant35",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-08T20:42:50.096Z",
      "updatedAt": "2025-10-08T20:42:50.096Z",
      "role": "workflow:owner",
      "workflowId": "FMdWGW9Epei0StSy",
      "projectId": "KEEmha20l10BbmVz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-08T21:38:01.000Z",
  "versionId": "917f55f9-ed0a-43c3-87bf-2888e54a28cc"
}