workflows2025/10/lI6cOlEhZvKj7wkb.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Message": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T21:07:49.979Z",
  "id": "lI6cOlEhZvKj7wkb",
  "isArchived": false,
  "meta": null,
  "name": "n8n Backups to github",
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c5924c9d-2cf6-44ca-85cf-724e6b5658a5",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -960,
        -96
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "BRiznAkHNQzk7u8B",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3c6cfeb8-071f-4bee-8328-fb3a0a996f9f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -736,
        -96
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a054a65b-02fd-4314-ba0c-4f850c90f93c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1408,
        -96
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "e83b0ddf-4d7c-44d2-b8a9-727cc93af559",
      "name": "Starting Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        -1184,
        -96
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FMdWGW9Epei0StSy",
          "mode": "list",
          "cachedResultUrl": "/workflow/FMdWGW9Epei0StSy",
          "cachedResultName": "n8n Backup Subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -512,
        -48
      ],
      "id": "0caa5f04-ed0e-4ff8-bc4e-8a0d34b6b3fe",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "sendTo": "aliarthur25@gmail.com",
        "subject": "n8n backup",
        "emailType": "text",
        "message": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -512,
        -240
      ],
      "id": "ec8dfb0d-c350-4f28-a83f-7e435dfbc170",
      "name": "Send a message",
      "webhookId": "08fa7c67-b0f9-478f-8a09-745189b92706",
      "credentials": {
        "gmailOAuth2": {
          "id": "OSB5FsCuKZFQX0Bn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "savant35",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-08T21:07:49.981Z",
      "updatedAt": "2025-10-08T21:07:49.981Z",
      "role": "workflow:owner",
      "workflowId": "lI6cOlEhZvKj7wkb",
      "projectId": "KEEmha20l10BbmVz"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-08T22:24:39.000Z",
  "versionId": "a5d08b98-bd83-489b-baf3-781654097c4b"
}