workflows2025/10/lI6cOlEhZvKj7wkb.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T21:07:49.979Z",
  "id": "lI6cOlEhZvKj7wkb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n Backups to github",
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c5924c9d-2cf6-44ca-85cf-724e6b5658a5",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1184,
        -288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "BRiznAkHNQzk7u8B",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3c6cfeb8-071f-4bee-8328-fb3a0a996f9f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -960,
        -288
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a054a65b-02fd-4314-ba0c-4f850c90f93c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1408,
        -288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FMdWGW9Epei0StSy",
          "mode": "list",
          "cachedResultUrl": "/workflow/FMdWGW9Epei0StSy",
          "cachedResultName": "n8n Backup Subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -736,
        -240
      ],
      "id": "0caa5f04-ed0e-4ff8-bc4e-8a0d34b6b3fe",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "sendTo": "aliarthur35@gmail.com",
        "subject": "n8n backup",
        "emailType": "text",
        "message": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -512,
        -336
      ],
      "id": "ec8dfb0d-c350-4f28-a83f-7e435dfbc170",
      "name": "Send a message",
      "webhookId": "08fa7c67-b0f9-478f-8a09-745189b92706",
      "credentials": {
        "gmailOAuth2": {
          "id": "OSB5FsCuKZFQX0Bn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Done",
              "renameField": true,
              "outputFieldName": "Workflows backed up"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -736,
        -432
      ],
      "id": "1ef62470-ba6e-488a-a708-81a0bfb41f93",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.home.aliarthur.com/CJC1Sdfd9lkoJRvf",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text",
        "body": "=Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        -528
      ],
      "id": "9f171819-a80e-4c39-b3d9-ee0dab74e33c",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "savant35",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-08T21:07:49.981Z",
      "updatedAt": "2025-10-08T21:07:49.981Z",
      "role": "workflow:owner",
      "workflowId": "lI6cOlEhZvKj7wkb",
      "projectId": "KEEmha20l10BbmVz"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-09T04:30:19.000Z",
  "versionId": "4ef55d2e-b14b-4399-bb70-781eb520cc35"
}